<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique de la météo à Paris</title>
    <!-- Inclure la bibliothèque Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Historique de la météo à Paris</h1>
    <canvas id="histogramChart" width="400" height="200"></canvas>

    <script>
        // Récupérer les données passées depuis Flask
        var data = {{ results | tojson | safe }};

        // Préparer les données pour l'histogramme
        var labels = data.map(item => item.Jour);
        var temps = data.map(item => item.temp);

        // Créer un objet de contexte pour le graphique
        var ctx = document.getElementById('histogramChart').getContext('2d');

        // Créer l'histogramme
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Température (°C)',
                    data: temps,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
